.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px; 
  height: 100vh; 
  background-color: rgb(44, 44, 44);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
  ul {
    list-style: none;
    li {
      margin-bottom: 15px;
      a {
        display: block; 
        text-decoration: none;
        color: #e0e0e0;
        padding: 10px 15px;
        border-radius: 5px; 
        transition: background-color 0.3s, color 0.3s;
        &:hover {
          background-color: rgb(83, 44, 128);
        }
      }
      .active {
        background-color:  rgb(104, 65, 151);
        color: white; 
        font-weight: bold; 
      }
    }
  }
}